<div>
<%= "Welcome #{@user.first_name}" %></br>
<%= "Oh the places you'll go..." %>
  <ul>
    <% @countries.each do |country| %>

      <li>
        <%= country.name %>
      </li>
    <% end %>
  </ul>
</div>
